:root {
  --ion-color-primary: #5a67d8;
  --ion-color-primary-rgb: 90, 103, 216;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #4f5bbf;
  --ion-color-primary-tint: #6b77de;
}
